* {
  margin: 0;
  padding: 0;
}

#portrait {
  border-radius: 50%;
  margin: 0 auto 0 auto;
  width: 20%;
}

.top {
  background-image: url("/resources/images/blurry-gradient-haikei.svg");
  height: 90vh;
  padding-top: 7%;
  position: relative;
  text-align: center;
  width: 100%;
}

h1 {
  color: antiquewhite;
  font-family: "Ruda", Sans-Serif;
  font-size: 4.5em;
  margin: 0 auto 0 auto;
  width: 50%;
  letter-spacing: 5px;
}

h2 {
  color: antiquewhite;
  font-family: "Roboto Slab", Serif;
  font-size: 1.5em;
  margin: 0 auto 0 auto;
  padding-bottom: 8%;
  padding-top: 3%;
  width: 50%;
}

h3 {
  font-family: "Ruda", Sans-Serif;
  letter-spacing: 1px;
  text-decoration: underline;
}

p,
td,
h4 {
  font-family: "Roboto Slab", Serif;
}

table {
  border-spacing: 10px;
}

.edu {
  background-color: white;
  border-top: #4f4f4f solid 2px;
  height: 50vh;
  position: relative;
  width: 100%;
  color: #4f4f4f;
}

#prog {
  display: inline-block;
  right: 10%;
  position: absolute;
  top: 10%;
  width: 30%;
}

#edu-p {
  display: inline-block;
  position: absolute;
  left: 10%;
  top: 30%;
  width: 45%;
}

#edu-p h3 {
  padding-bottom: 10px;
}

.skill {
  background-image: url("/resources/images/blurry-gradient-haikei.svg");
  border-top: #4f4f4f solid 2px;
  height: 50vh;
  position: relative;
  width: 100%;
}

#skill {
  display: inline-block;
  position: absolute;
  left: 10%;
  top: 10%;
  width: 30%;
}

#skill-p {
  color: antiquewhite;
  display: inline-block;
  right: 5%;
  position: absolute;
  top: 35%;
  width: 30%;
}

.contact {
  background-color: white;
  border-top: #4f4f4f solid 2px;
  height: 40vh;
  position: relative;
  width: 100%;
  color: #4f4f4f;
}

#contact {
  display: inline-block;
  right: 15%;
  position: absolute;
  top: 10%;
  width: 30%;
}

#contact-p {
  display: inline-block;
  position: absolute;
  left: 15%;
  top: 35%;
  width: 20%;
}

.bottom {
  background-color: #4f4f4f;
  border-bottom: #4f4f4f solid 2px;
  border-top: #4f4f4f solid 2px;
  height: 15vh;
}

.bottom p {
  color: antiquewhite;
  font-weight: bold;
  margin: 0 auto 0 auto;
  top: 35%;
  text-align: center;
  width: 15%;
  position: relative;
}

a {
  color: #4f4f4f;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 4em;
    width: 90%;
  }

  h2 {
    font-size: 2em;
    width: 100%;
  }
  #portrait {
    width: 70%;
  }

  #prog {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 5%;
    width: 40%;
  }

  #edu-p {
    display: block;
    position: relative;
    width: 100%;
    margin: 10%;
    text-align: center;
  }

  #skill {
    width: 50%;
    top: 10%;
    display: block;
    position: relative;
    margin: 0 auto;
  }

  #skill-p {
    display: block;
    position: relative;
    margin: 20%;
    width: auto;
  }

  #contact {
    width: 50%;
    top: 15%;
    display: block;
    position: relative;
    margin: 0 auto;
    padding-bottom: 8%;
  }

  #contact-p {
    width: auto;
    display: block;
    position: relative;
    margin: 15%;
  }
}
