* {
  margin: 0;
  padding: 0;
}

.button {
  position: fixed;
  top: 50%;
  background-color: #4f4f4f;
  color: antiquewhite;
  border: black 2px solid;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 0% 15% 15% 0%;
}

.button:hover {
  background-color: white;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.top {
  background-image: url("/blurry-gradient-haikei.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  color: antiquewhite;
  font-family: "Ruda", Sans-Serif;
  font-size: 4.5em;
  letter-spacing: 5px;
}

h2 {
  color: antiquewhite;
  font-family: "Roboto Slab", Serif;
  font-size: 1.5em;
  margin-top: 2%;
  margin-bottom: 4%;
}

#portrait {
  border-radius: 50%;
  width: 20%;
}

h3 {
  font-family: "Ruda", Sans-Serif;
  letter-spacing: 1px;
  text-decoration: underline;
}

p,
td,
h4 {
  font-family: "Roboto Slab", Serif;
}

table {
  border-spacing: 10px;
}

.edu {
  background-color: white;
  border-top: #4f4f4f solid 2px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #4f4f4f;
  height: 50vh;
}

#edu-img {
  width: 30%;
}

#edu-p {
  width: 30%;
}

.skill {
  background-image: url("/blurry-gradient-haikei.svg");
  border-top: #4f4f4f solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

#skill-p {
  color: antiquewhite;
  width: 30%;
}

#skill-img {
  width: 30%;
}

.contact {
  background-color: white;
  border-top: #4f4f4f solid 2px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 40vh;
}

#contact-img {
  width: 30%;
}

#contact-p {
  width: 30%;
}

.bottom {
  background-color: #4f4f4f;
  border-bottom: #4f4f4f solid 2px;
  border-top: #4f4f4f solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.bottom p {
  color: antiquewhite;
  font-weight: bold;
}

a {
  color: black;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  #edu-img,
  #skill-img,
  #contact-img {
    display: none;
  }

  #edu-p,
  #skill-p,
  #contact-p,
  table {
    width: 100%;
  }

  #portrait {
    width: 70%;
  }
  
  .top,
  .edu,
  .skill,
  .contact,
  .bottom {
    padding: 0 10%;
    width: 100%;
  }

  .button {
    display: none;
  }
}
